<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="header_key" value="X-STREAM-ACTIVATION-CODE"/>
    <add key="header_GUID" value="376CAC2B-BE0B-4506-959F-09A4A433E7B8"/>
    <add key="traxConnectionString" value="Data Source = traxpilt; user id = TRAX_STREAM; password = TRAX_STREAM;"/>
    <add key="kcapptstConnectionString" value="Data Source = kcapptst; user id = sms; password = sms_56544;"/>
  </appSettings>
</configuration>