<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="header_key" value="X-STREAM-ACTIVATION-CODE"/>
    <add key="header_GUID" value="376CAC2B-BE0B-4506-959F-09A4A433E7B8"/>
    <add key="traxConnectionString" value="Data Source = traxpilt; user id = TRAX_STREAM; password = TRAX_STREAM;"/>
    <add key="stream_url" value="https://services-uat.stream.aero/STREAM.Web.Api/Production-UAT/v2/WorkPackages/import"/>
    <add key="numLastDays" value="7"/>
  </appSettings>
<connectionStrings><add name="streamlogEntities"
connectionString="metadata=res://*/Models.StreamLogDbContext.csdl|res://*/Models.StreamLogDbContext.ssdl|res://*/Models.StreamLogDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLDB05;initial catalog=streamlog;persist security info=True;user id=streamlog_dbo;password=$tre@mlog_db$;MultipleActiveResultSets=True;App=EntityFramework&quot;"
providerName="System.Data.EntityClient"/></connectionStrings>
</configuration>